<%= form_with(model: resource, local: true) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select Category") %>
  </div>
  <br>
  <div class="field">
    <%= form.label :title, 'Название. По этому параметру идет поиск.'  %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description, 'Описание. Чем короче, тем лучше.' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :link, 'Абсолютный путь до ресурса.' %>
    <%= form.text_field :link, class: 'form-control' %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
